<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
    <script src="/config.js"></script>
    <script src="/navbar.js"></script>
    <script src="/forum.js"></script>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/forum.css">
    <link rel="stylesheet" href="/navbar.css">
  </head>

  <body>
    <!--vue-ssr-outlet-->

    {{{ navbar }}}

    <div class="forum-main" data-forum={{forum}}>
      <div class="forum-title">看板 {{ forum }}</div>
      <div class="forum-newpost">
        <a href="/newpost?forum={{ forum }}">發廢文，GO！</a>
      </div>

      <div class="page-navigator" data-page={{page}}></div>

      <div class="article-list">
        
      </div>
      
    </div>


    <template class="article-template">
      <div class="article-item">
        <div class="post-title">
          <a></a>
          <span class="post-ninnki"></span>
        </div>
        <span class="post-author">
          <a></a>
        </span>
        <span class="post-time"></span>
      </div>
    </template>

  </body>
</html>

