

<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
    <script src="./config.js"></script>
    <script src="./login.js"></script>
    <link rel="stylesheet" href="./general.css">
    <link rel="stylesheet" href="./login.css">
  </head>
  
  <body>
    <!--vue-ssr-outlet-->
    <div class="login-main">

      <div class="d1"></div>

      <div class="login-container">
        <div class="title">
          {{ title }}
        </div>
        <div class="subtitle">
          try to login
        </div>
        <form class="login-input" method="POST">
          <div>
            <input type="text" name="useremail" placeholder="email">
          </div>
          <div>
            <input type="text" name="username" placeholder="username">
          </div>
          <div>
            <input type="text" name="password" placeholder="password">
          </div>
        </form>
        <div class="login-btn">
          <button class="register-b">Register</button>
          <button class="login-b">Log in</button>
        </div>

        <div class="op">
          <div class="op-login">login</div>
          <div class="op-signup">signup</div>
        </div>
      </div>

      <div class="d1"></div>

    </div>
  </body>
<html>

