
    <!--vue-ssr-outlet-->
    <div class="navbar">
      <div class="nav-item nav-user">
        <img src="/img/akari.jpg" width="36">
        <div class="nav-user-l">
        </div>
      </div>
      <div class="nav-item nav-post-list">
        <a href="/forum/gossiping/1">八卦板</a>
      </div>
      <div class="nav-item nav-post-list">
        <a href="/forum/gossiping2/1">八卦二板</a>
      </div>
    </div>

    <div class="loading-overlay">
      <div class="loading-ani"></div>
    </div>