<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
    <script src="./config.js"></script>
    <script src="./navbar.js"></script>
    <script src="./newpost.js"></script>
    <link rel="stylesheet" href="./general.css">
    <link rel="stylesheet" href="./newpost.css">
    <link rel="stylesheet" href="./navbar.css">
  </head>

  <body>
    <!--vue-ssr-outlet-->
    
    {{{ navbar }}}

    <div class="newpost-main">
      <div class="newpost-container">
        <div class="newpost-field">

          <div class="newpost-title">
            <div class="newpost-title-d">標題釣魚</div>
            <div class="newpost-title-c">
              <input type="text" placeholder="標題標題標題">
            </div>
          </div>

          <div class="newpost-content">
            <div class="newpost-content-d">內文引戰</div>
            <div class="newpost-content-c">
              <textarea placeholder="內文內文內文"></textarea>
            </div>
          </div>

          <div class="newpost-op">
            <div class="newpost-post">
              <button data-forum={{forum}}>發廢文！GO！</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>

