<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
    <!-- weird: if this is "./filename", page will send request to "host/post/filename" but not "host/filename" -->
    <script src="/config.js"></script>
    <script src="/navbar.js"></script>
    <script src="/post.js"></script>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/post.css">
    <link rel="stylesheet" href="/navbar.css">
  </head>

  <body>
    <!--vue-ssr-outlet-->

    {{{ navbar }}}

    <div class="post-main" data-post_id={{postId}}>
      <div class="post-container">

        <div class="post-field">
          <div class="post-info">
            <span class="post-forum"></span>
            <div class="post-title"></div>
            <div class="post-author">
              <a></a>
            </div>
            <div class="post-time"></div>
          </div>
          <div class="post-content"></div>

          <div class="reply-section">
            <div class="reply-section-title">
              回覆
            </div>
            <div class="post-reply-list">
            </div>
            <div class="reply-new">
              <input type="text"></input>
              <button>reply!</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <template class="reply-template">
      <div class="post-reply">
        <span class="reply-author"></span>
        <span class="reply-time"></span>
        <div class="reply-content"></div>
      </div>
    </template>

  </body>
</html>

