<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
    <script src="/config.js"></script>
    <script src="/navbar.js"></script>
    <script src="/user.js"></script>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/user.css">
    <link rel="stylesheet" href="/navbar.css">
  </head>

  <body>
    <!--vue-ssr-outlet-->

    {{{ navbar }}}

    <div class="user-main" data-user="{{user}}">

      <div class="left">
        <div class="user-title">{{ user }}</div>
        <div class="user-avatar">
          <img src="/img/EmojiOne2.1_fire.png">
        </div>
        <div class="user-email"></div>
      </div>

      <div class="right">
        <div class="article-list-title">
          {{ user }} 的文章
        </div>
        <div class="page-navigator" data-page="1"></div>
        <div class="article-list">
        </div>
      </div>

    </div>


    <template class="article-template">
      <div class="article-item">
        <div class="post-forum"></div>
        <div class="post-title">
          <a></a>
          <span class="post-ninnki"></span>
        </div>
        <span class="post-time"></span>
      </div>
    </template>

  </body>
</html>

