.forum-main {
  width: 70%;
  margin: 25px auto;
}

.page-navigator {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 15px;
}
.page-navigator > div {
  cursor: pointer;
  padding: 5px 10px;
  user-select: none;
}
.page-navigator > div:hover {
  box-shadow: 0px 0px 2px 1px #ddd; 
}
.nowPage {
  box-shadow: 0px 0px 2px 1px #ddd;
}

.article-list {
  color: #111;
}

.article-item {
  padding: 10px 10px;
  box-sizing: border-box;
}
.article-item:nth-child(2n+1) {
  background: #f3f3f3;
}
.post-title {
  font-weight: 900;
}
.post-time, .post-ninnki {
  font-size: 0.7em;
}
.post-author {
  font-size: 0.8em;
  margin-right: 5px;
}
.post-ninnki {
  float: right;
}
