
body {
  font-family: "微軟正黑體";
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #444;
}
a:visited {
  color: #444;
}
a:hover {
  color: #aaa;
}

button {
  background: #c8f0c4;
  border: none;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 3px;
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}