
.login-main {
  margin: auto;
  width: 50%;

}
.login-container {
  margin: 10vh 0;
  border: 1px solid #999;
  border-radius: 5px;
  background: #eee;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 15px 0;

  /* note */
  position: relative;
}

.login-input {
  display: inline-block;
  margin: 15px 0;
  width: 80%;
  max-width: 14em;
}
.login-input > div {
  width: 100%;
}
.login-input input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: none;
}
.login-input div:nth-child(1) input {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.login-input div:nth-last-child(1) input {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.login-btn {
  display: inline-block;
}
.login-btn button {
  font-size: 1.5em;
  padding: 10px 1em;
  min-width: 5em;
}

.register-b {
  display: none;
}
input[name="username"] {
  display: none;
}
.op {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.op:hover {
  color: #666;
}
.op-login {
  display: none;
}

.d1 {
  width: 100%;
  height: 5px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 3px 2px -3px #222;
}