.navbar{
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 15px;
  font-size: 1.4em;
  background: #953274;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.nav-item a {
  font-weight: 900;
  color: #efc4e0;
}
div.nav-item {
  margin: 0 9px;
}
.nav-item a:hover {
  color: #faeaf8;
}

.nav-user {
  cursor: pointer;
}
.nav-user-l{
  position: absolute;
  user-select: none;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: none;
  font-size: 0.8em;
  padding: 5px 5px;
  color: #933a8b;
}
.nav-user img {
  border-radius: 50%;
}



.hidden {
  display: none;
}
.loading-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(100, 100, 100, 0.4);
}
.loading-ani {
  z-index: 1001;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* reference: css-trick: CSS Animation Tricks: State Jumping, Negative Delays, Animating Origin, and More */
  /* author: Zach Saucier */
  box-shadow:
    -40px -69px 0px 20px #b7ab1d,
    40px -69px 0px 20px #2264c7,
    -40px 69px 0px 20px #933a8b,
    40px 69px 0px 20px #27b71d,
    80px 0px 0px 20px #1db0b7,
    -80px 0px 0px 20px #b7481d;
  animation: rotate 6s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}