.newpost-main{
  width: 60%;
  margin: auto;
}
.newpost-container{
  margin: 25px 0;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}
.newpost-field {
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  max-width: 30em;
}

.newpost-title-d, .newpost-content-d {
  margin-bottom: 6px;
}
.newpost-title input, .newpost-content textarea {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.newpost-title {
  margin-bottom: 1em;
}
.newpost-title input {
}
.newpost-content textarea {
  height: 20em;
}