.post-main {
  width: 60%;
  margin: auto;
}
.post-forum {
  float: right;
}
.post-container {
  margin: 25px 0;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}
.post-field {
  margin: 10px 10px;
}

.post-info {
  margin: 0 0 10px 0;
  background: #ebd3ea;
  padding: 4px 10px;
  color: #753673;
}
.post-info a{
  color: #753673;
}
.post-info a:hover{
  color: #bb83b9;
}
.post-content {
  word-wrap: break-word;
}

.reply-section {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid #ddd; 
}
.reply-section-title {
  font-size: 1.2em;
  margin: 10px 0;
}
.post-reply {
  padding-bottom: 10px;
}
.post-reply:nth-child(2n+1) {
  background: #f3f3f3;
}

.reply-time {
  font-size: 0.8em;
}
.reply-new input {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}